<ion-view>
  <ion-content>
    <ul class="flex-container">
         <div ng-repeat="item in items" style="position:relative;">
          <li class="flex-item" ng-click="addItem(item)" ng-dblclick="addQuantity(item)">{{item.Name}}</li>
          <label class="flex-item-footer">{{item.Quantity}}</label>
          </div>  
          <!--<li class="flex-item">2</li>
          <li class="flex-item">3</li>
          <li class="flex-item">4</li>
          <li class="flex-item">5</li>
          
          <li class="flex-item">1</li>  
          <li class="flex-item">2</li>
          <li class="flex-item">3</li>
          <li class="flex-item">4</li>
          <li class="flex-item">5</li>
          
          <li class="flex-item">1</li>  
          <li class="flex-item">2</li>
          <li class="flex-item">3</li>
          <li class="flex-item">4</li>
          <li class="flex-item">5</li>
          
          <li class="flex-item">1</li>  
          <li class="flex-item">2</li>
          <li class="flex-item">3</li>
          <li class="flex-item">4</li>
          <li class="flex-item">5</li>
          
          <li class="flex-item">1</li>  
          <li class="flex-item">2</li>
          <li class="flex-item">3</li>
          <li class="flex-item">4</li>
          <li class="flex-item">5</li>-->
        </ul>
  </ion-content>
</ion-view>