<ion-view>
  <ion-content>
    <div ng-controller="HomeCtrl as homeC">
      <ul class="flex-container">
        <!--<li id="addCustomItem" class="flex-item" ng-click="addItem(item)" ng-dblclick="addQuantity(item)" hidden="hidden">+</li>-->
          <div ng-repeat="item in getItems()" style="position:relative;text-align:center;">
            <li class="flex-item" ng-click="addItem(item)" ng-dblclick="addQuantity(item)">{{item.Label}}</li>
            <label class="flex-item-footer">{{item.Quantity}}</label>
            <label>{{item.Name}}</label>
          </div>
      </ul>
    </div>
  </ion-content>
</ion-view>